<div></div>
<div>
    <p>
        Добро пожаловать в наш роскошный 5-звёздочный отель, где элегантность встречается с первоклассным сервисом. Уютные номера с панорамными видами, изысканные рестораны, спа-салон мирового уровня и безупречное внимание к каждой детали — всё это создаёт уникальную атмосферу для вашего идеального отдыха. Независимо от цели вашего визита, будь то деловая поездка или незабываемый отпуск, мы гарантируем, что ваше пребывание станет исключительным и комфортным.
    </p>
</div>

<footer> 
<li>Телефон: +7 (495) 123-45-67</li>
<li>Email: infoluxuryhotel.com</li>
<li>Адрес: ул. Примерная, д. 10, Москва, Россия</li>
<li>Instagram: luxuryhotel</li>
<li>Telegram: t.me/luxuryhotel</li>
</footer>