:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

table {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 10px;
    height: fit-content;

    tr {
        cursor: pointer;
    }

    th {
        text-align: start;
    }
      
    th, td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    }
}

section {
    display: flex;
    gap: 50px;
}