<header>
    <h1>Все записи бронирований</h1>
</header>

<section>
    <table
    class="table"
    >
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата прибытия</th>
            <th>Дата выезда</th>
            <th>Количестов гостей</th>
            <th>Тип номера</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of allInfo; let i = index"
        >
            <td (click)="selectParam(i)">{{ i + 1 }}</td>
            <td (click)="selectParam(i)">{{ item.arrivalDate | dateFormat}}</td>
            <td (click)="selectParam(i)">{{ item.departureDate | dateFormat}}</td>
            <td (click)="selectParam(i)">{{ item.guestCount }}</td>
            <td (click)="selectParam(i)">{{ item.roomType }}</td>
        </tr>
    </tbody>
    </table>

    <table
    *ngIf="selectedReserv && selectedReserv.length"
    class="table"
    >
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of selectedReserv; let d = index">
            <td>{{ d + 1 }}</td>
            <td>{{ client.firstName }}</td>
            <td>{{ client.lastName }}</td>
            <td>{{ client.phoneNumber }}</td>
        </tr>
    </tbody>
    </table>
</section>

<footer>
    
</footer>