:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

tui-carousel {
    div.t-item {
        align-items: center !important;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        margin: 20px;
    }
}

.disabled {
    opacity: 0;
}