<h1>Форма бронирования мест в отеле</h1>

<tui-carousel
    #carousel
>
    <div *tuiItem><app-start-info (formValidityOne)="handleFormValidityOne($event)"></app-start-info></div>
    <div *tuiItem><app-clients-info (formValidityTwo)="handleFormValidityTwo($event)" *ngIf="service.usersInfo?.countOfGuests"></app-clients-info></div>
    <div *tuiItem><app-payment (formValidityThree)="handleFormValidityThree($event)"></app-payment></div>
</tui-carousel>






<footer>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="carousel.prev()"
    (click)="pastPage()"
    >
        Назад
    </button>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="test()"
    >
        Таблица брони
    </button>
    <button
    *ngIf="page !== 2 && !getValidity()"
    appearance="floating"
    tuiButton
    type="button"
    (click)="carousel.next()"
    (click)="nextPage()"
    >
        Далее
    </button>
    <button
    *ngIf="page === 2"
    appearance="floating"
    tuiButton
    type="button"
    (click)="finish()"
    >
        Завершить
    </button>
</footer>