<div class="first">
    <div class="eco">
        <h2>Эконом</h2>
        <p>Уютный номер с минималистичным дизайном для комфортного и бюджетного проживания. Оснащён всем необходимым для вашего удобства: удобная кровать, рабочая зона, бесплатный Wi-Fi, телевизор и ванная комната с душем. Идеальный вариант для тех, кто ценит простоту и комфорт.</p>
    </div>
    <div class="comfort">
        <h2>Комфорт</h2>
        <p>Просторный и элегантный номер с повышенным уровнем удобства. Включает комфортную двуспальную кровать, рабочий стол, современный телевизор, мини-бар и ванную комнату с набором туалетных принадлежностей. Оптимальное решение для тех, кто ищет баланс между ценой и качеством.</p>
    </div>
    <div class="comfort_plus">
        <h2>Комфорт +</h2>
        <p>Номер повышенной комфортности, предлагающий дополнительные удобства: более просторное помещение, зона для отдыха, улучшенные косметические средства и мягкие халаты. Окна номера выходят на живописные виды города или окрестностей. Прекрасный выбор для длительного пребывания.</p>
    </div>
</div>
<div class="second">
    <div class="premium">
        <h2>Премиум</h2>
        <p>Роскошный номер для гостей, предпочитающих высший уровень комфорта. В номере имеется зона для отдыха, большая двуспальная кровать, собственный балкон или панорамные окна, улучшенные косметические принадлежности, мини-бар и кофемашина. Идеально подойдёт для романтических или деловых поездок.</p>
    </div>
    <div class="president">
        <h2>Президентский</h2>
        <p>Эксклюзивный номер, который воплощает максимальный уровень роскоши и уединённости. Включает отдельную спальню, просторную гостиную, собственный кабинет, несколько ванных комнат, джакузи и персональный бар. Президентский номер создан для тех, кто ищет изысканность и абсолютный комфорт в каждом аспекте проживания.</p>
    </div>
</div>
<div></div>