<div>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="getToMain()"
    >
        Главная
    </button>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="getToNumbers()"
    >
        Номера
    </button>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="getToReservation()"
    >
        Бронирование
    </button>
    <button
    appearance="floating"
    tuiButton
    type="button"
    (click)="getToTable()"
    >
        Таблица брони
    </button>
</div>