:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

router-outlet::before {
  background-image: url('./shared/images/pexels-pixabay-258154.jpg');
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  opacity: 0.9;                  
  z-index: -1;
  content: "";                   
  position: absolute;
  top: 0;            
  left: 0; 
  right: 0;
  bottom: 0;
  height: 100%;         
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-navigate {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}