:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

form {

    tui-select, tui-input {
        box-shadow: 0px 0px 55px -10px rgba(34, 60, 80, 0.2);
        width: 300px;
    }
}
